:root {
    --night: #1f244b;
    --purple: #654053;
    --ocre: #a8605d;
    --gold: #d1a67e;
    --yellow: #f6e79c;
    --weed: #b6cf8e;
    --salad: #60ae7b;
    --forest: #3c6b64;

    --height-top-banner: 50px;
    --width-left-banner: 150px;
    --height-local-research: 40px;
}

* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 8px; /* ou "thin" */
}

::-webkit-scrollbar-thumb {
    background-color: var(--forest);
}

::-webkit-scrollbar-track {
    background: var(--weed);
}

html {
    color: var(--night);
    background-color: var(--yellow);
    overflow: hidden;
}

.banner {
    box-sizing: border-box;
    position: fixed;
    padding: 5px;
    top: var(--height-top-banner);
    left: 0;
    width: var(--width-left-banner);
    height: 100%;
    background-color: var(--weed);
    border-right: 1px solid var(--night);
    z-index: 5;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--forest) var(--weed);
}

.banner ~ .body-container-list-movies {
    padding-left: var(--width-left-banner);
}

.banner ~ .body-container-list-movies > .movieCard > .tooltip {
    left: calc(5% + var(--width-left-banner)) !important;
    width: calc(90% - var(--width-left-banner)) !important;
}

.banner ~ .localResearch {
    padding-left: var(--width-left-banner);
    width: calc(100% - var(--width-left-banner)) !important;
}

.banner-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.banner-item:hover {
    font-weight: bold;
    cursor: pointer;
}

.banner-title h3 {
    margin-top: 10px;
    border-bottom: 1px solid var(--night);
}

.banner-title h3:hover {
    background-color: var(--forest);
    color: var(--yellow);
    cursor: pointer;
    border-radius: 3px;
}

.banner-title.selected > .banner-content {
    max-height: 100vh;
}

#body {
    padding-top: var(--height-top-banner);
    z-index: 10;
}

.body-container-list-movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--forest) var(--weed);
    max-height: calc(100vh - var(--height-top-banner));
}

.canvasStats {
    margin: 5px;
    width: 100%;
    height: 80%;
    border: 4px solid var(--ocre);
    border-radius: 10px;
}

.canvas-comportement {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

.card {
    background-color: var(--yellow);
    padding: 25px;
    border: 3px solid var(--purple);
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

#checkPassword {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--weed);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

#checkPasswordButton {
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--forest);
    color: var(--yellow);
    padding: 5px;
}

#checkPasswordButton:hover {
    background-color: var(--ocre);
    color: var(--night)
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    font-weight: bold;
}

.danger {
    background-color: var(--ocre);
}

.hidden {
    transform: translateY(100%);
}

input, button {
    margin: 10px;
}

.localResearch {
    width: 100%;
    height: var(--height-local-research);
    background-color: transparent;
    position: fixed;
}

.localResearchInput {
    width: 80%;
    height: 20px;
    border: 2px solid var(--night);
    border-radius: 4px;
    margin-left: 10%;
    padding: 3px;
    font-size: 20px;
    text-align: center;
    background-color: var(--weed);
}

.localResearchInput:focus {
    outline: 1px solid var(--purple);
}

.localResearchPadding {
    width: 100%;
    height: var(--height-local-research);
}

#menu {
    background-color: var(--gold);
    position: fixed;
    width: 100%;
    height: var(--height-top-banner);
    border-bottom: 1px solid var(--night);
    display: flex;
    z-index: 6;
}

#menu > div {
    margin-top: 10px;
    margin-left: 20px;
    border-style: solid solid none solid;
    border-width: 1px;
    border-color: var(--night);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
    padding-top: 12px;
    background-color: var(--weed);
    font-weight: bold;
}

#menu > div:hover {
    cursor: pointer;
    background-color: var(--ocre);
    color: var(--yellow);
}

.menu-selected {
    background-color: var(--yellow) !important;
    color: var(--night) !important;
}

.movieCard {
    width: 200px;
    height: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    border: 3px solid var(--ocre);
    border-radius: 5px;
    box-shadow: 4px 4px 4px var(--gold);

    background-color: var(--gold);

    margin: 5px;
    padding: 10px;

    user-select: none;
}

.movieCard:hover {
    border-color: var(--night) !important;
}

.movieCard h3 {
    text-align: center;
}

.movieCard img {
    width: 150px;
    margin: 5px;

    pointer-events: none;
}

#movieSelect {
    text-align: center;

}

#movieSelect button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--gold);
}

#movieSelect button:hover {
    background-color: var(--forest);
    color: var(--yellow);
}

.popUp {
    z-index: 999;
    position: fixed;
    top: 10px;
    right: 10px;
    min-width: 100px;
    max-width: 300px;
    min-height: 40px;
    max-height: 75px;
    padding: 10px;
    border: 1px solid var(--night);
    border-radius: 5px;
    transition: fade 0.5s ease-in-out;
    align-items: center;
    justify-content: center;
    display: flex;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.research:hover {
    background-color: var(--purple);
    color: var(--yellow);
}

.research.selected {
    border: 3px solid var(--night);
    background-color: var(--purple);
    color: var(--yellow);
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.settings > button {
    margin-top: 20px;
    margin-bottom: 0;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--gold);
    color: var(--night);
    border: 2px solid var(--ocre);
    box-shadow: 4px 4px 4px var(--gold);
    font-weight: bold;
}

.settings > button:hover {
    background-color: var(--forest);
    color: var(--yellow);
}

.settings > select {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--ocre);
    background-color: var(--weed);
}

.settings > select > option {
    background-color: var(--weed);
}

.settings > select > option:hover {
    background-color: var(--forest);
    color: var(--yellow);
}

.show {
    opacity: 1 !important;
}

.success {
    background-color: var(--salad);
}

.tooltip {
    position: fixed;
    background-color: var(--weed);
    left: 5%;
    bottom: 0;
    width : 90%;
    border-color: var(--ocre);
    border-width: 3px;
    border-style: solid solid none solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
    transition: transform 0.5s ease-in-out;
}

.tooltip:not(.hidden) {
    transform: translateY(0%);
}
